#box{
    height: 500px;
    width: 500px;
    overflow: auto;
}
#content{
    height: 800px;
    width: 2000px;
    background-color: rgb(223, 141, 111);
}














































































































































































































































































































































































































































/* btn.addEventListener('click', () => {
    box.scrollTop = 200
})  */